<div class="container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Select Voice</mat-label>
    <mat-select [(ngModel)]="selectedVoice">
      @for (voice of voices; track voice.name) {
        <mat-option [value]="voice">
          {{ voice.name }} {{ voice.default ? '(Default)' : '' }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Quote</mat-label>
    <textarea matInput rows="5" [(ngModel)]="textToRead"></textarea>
  </mat-form-field>

  <div class="action-row">
    <button mat-raised-button color="primary" (click)="speak()">Read Quote</button>
    <button mat-raised-button color="primary" (click)="navigateToLesson()">Next</button>
  </div>
 
</div>